<div class="page-header">
	<h2>Tournament Details</h2>
</div>

<p class="welcome-text underline">Location:</p>
<p class="sub-text">Games will be played on the sand at  Main Beach in front of the Santa Cruz Beach Boardwalk.</p>
<p class="sub-text"><strong> Format &amp; Length of Games:</strong></p>
<ul>
  <li class="sub-text-1"> All games are 5 v 5: 4 players on the field, plus a goalkeeper, except u8 &amp; 9 are 5 on the field plus a goalkeeper.</li>
  <li class="sub-text-1">Games consist of three 11 minute periods, with 2 minute rests between periods.</li>
  <li class="sub-text-1">Each team will play 2 games on Saturday, a minimum of 1 game on Sunday, and up to 2 more games based on performance.</li>
</ul>
<p class="welcome-text underline"> Divisions:</p>
<ul>
  <li class="sub-text-1">Boys U8-U19</li>
  <li class="sub-text-1">Girls U8-U19</li>
  <li class="sub-text-1">Collegiate*</li>
  <li class="sub-text-1">Adult Co-ed</li>
  <li class="sub-text-1">Women's</li>
  <li class="sub-text-1">Men's</li>
  <li class="sub-text-1">Men's Open (Cash Prize)</li>
</ul>
<p>*  Collegiate  players are able to play in our competitive divisions, but not in our Men's  Open cash prize division. A Division I collegiate team cannot have more than 5  players on the same team per NSCAA.</p>
<p class="welcome-text underline">Level of Play:</p>
<p class="sub-text"> Recreational and Competitive.</p>
<p class="sub-text"><strong> Prizes:</strong></p>
<ul>
  <li  class="sub-text-1">1st place teams: Tournament trophy and medals</li>
  <li  class="sub-text-1">2nd place teams: Tournament medals</li>
  <li  class="sub-text-1">Men's Open: Cash Prize ($1,500)</li>
</ul>
<p class="welcome-text underline">Field Sizes:</p>
<p class="sub-text">Field size varies by age group:  Youth fields are 25x35 yards and Adult fields are 30x40 yards.</p>
<p class="sub-text">Goals are 7 feet tall and 14 feet  wide.</p>
<p class="welcome-text underline">Team Size:</p>
<p class="sub-text">   There is a limit of 12 players (we recommend 8 to 10) per team roster in all YOUTH and ADULT divisions. Players can <em><strong>only play on one team in the same division of the tournament and must be on the roster</strong></em>. Rosters must be exchanged between coaches before each game. There are no roster  restrictions in regards to forming new teams. New teams may be formed and new  players with or without previous team experience may be added. For example any  player may play for any team as long as the player is within the age  requirements.</p>
<p class="sub-text">For Co-Ed teams, a minimum of three  females is required, and four female members are recommended. During game play,  two females must be on the field at all times.</p>
<p class="sub-text">At check-in, the final roster will  be turned in. After that time, no additions, substitutions or deletions may be  made.</p>
<p class="welcome-text underline">Age Stipulations:</p>
<p class="sub-text">Youth players must be of appropriate age according to the US Club Soccer. . Youth players will be placed according to their Spring  schedule age status. For example if your team is U9 in the Spring and U10 in  the Fall, your team will play as U9 in the tournament. There are no roster  restrictions in regards to forming new teams. New teams may be formed and new  players with or without previous team experience may be added. For example any  player may play for any team as long as the player is within the age  requirements.</p>
<p class="welcome-text underline"> Proof-of-Age Guidelines:</p>
<blockquote>
  <p class="sub-text"><strong>Youth Participants (under 18 years of age):</strong><br />
    Each Youth player MUST submit the following at Check-In:</p>
</blockquote>
<ul>
  <ul>
    <li class="sub-text-1">Personal photo identification (student i.d. or any government issued i.d.)</li>
    <li class="sub-text-1">Birth certificate or other proof of age document (i.e. player card)</li>
    <li class="sub-text-1">A signed Release of Liability form with original signatures of at least one parent or guardian</li>
  </ul>
</ul>
<blockquote>
  <p class="sub-text">Adult Participants (over 18 years of age):<br />
     Each Adult player MUST submit the following at Check-In:</p>
</blockquote>
<ul>
  <ul>
    <li class="sub-text-1">Personal photo identification showing proof of age (i.e. Driver License, passport, etc.). If the player does not have  a form of id with a picture, they need to provide a current CLEAR photo of the  player's face for identification.</li>
    <li class="sub-text-1">A signed Release of Liability form with original signatures</li>
  </ul>
</ul>
<p class="welcome-text underline">Uniforms:</p>
<p class="sub-text">Please bring your own uniforms. Team members must wear something that distinguishes them as a team; this can be as simple as the same color shirts. If a team does not have a uniform, scrimmage vests will be provided. </p>
<p class="sub-text">Please note that no jewelry of any kind is allowed, including watches, earrings, etc.</p>
<p class="sub-text">Players with casts, air-splints, or metal splints of any kind will not be allowed to participate in the games.</p>
<p class="welcome-text underline">Foot Gear:</p>
<p class="sub-text">No shoes, cleats or shin guards of any kind are allowed to be used during the games. Players can play with bare feet or with socks; wrapping tape is also recommended to help protect your feet (hot sand, etc.). <a href="/pro_store">Sandsocks will be available  for purchase</a> beginning Friday prior to the tournament to assure a proper  fitting to the player&rsquo;s feet.</p>
<p class="sub-text"><strong>Registration &amp; Entry Fee:</strong></p>
<p class="welcome-text underline">Online Registration:</p>
<p class="sub-text">Please use our online registration system to sign up for the Santa Cruz Beach Soccer Championships. If you have any problems with your online registration, please contact us directly so that we may assist you.</p>
<p class="welcome-text underline">Mail-In Registration:</p>
<p class="sub-text">You may also register for the Santa Cruz Beach Soccer Championships using our mail-in <a href="docs/roster.pdf" target="_blank">Registration Form</a> (5mb PDF).</p>
<p class="sub-text">Please mail your team Registration Form and Entry Fee (see below) to:</p>
<p class="sub-text">Santa Cruz Beach Soccer Championships<br />
  P.O. Box 330180<br />
  San Francisco, CA 94133</p>
<p class="welcome-text underline">Team Entry Fee:</p>
<ul>
  <li class="sub-text-1">Youth Teams: $525</li>
  <li class="sub-text-1">Adults Teams: $525</li>
</ul>
<p class="sub-text">Team Entry Fee must be paid by check. Please make checks payable to &quot;U.S. Soccer International&quot; and mail your checks to:</p>
<p class="sub-text">Santa Cruz Beach Soccer Championships<br />
  P.O. Box 330180<br />
  San Francisco, CA 94133</p>
<p class="welcome-text underline">Registration Deadline:</p>
<p class="sub-text"> Registration and Entry Fee deadline:</p>
<ul>
  <li class="sub-text-1">June  8-9 Deadline: May 31st, 2013</li>
  <li class="sub-text-1">June 15-16 Deadline: June 6th, 2013</li>
</ul>
<p class="sub-text">June is peak season in Santa Cruz.  Please remember to book hotel accommodations early and carpool if possible.  Rooms book quickly and parking is difficult around the beach and tournament  area. </p>
<p class="welcome-text underline">Team Entry Confirmation:</p>
<p class="sub-text">Upon receipt of the Registration Form and Team Entry Fee, an e-mail confirmation will be sent to the person registering your team. A Santa Cruz Beach Soccer Championships representative will also be contacting you by phone to confirm your team's entry and information from One World Futbol  Project.</p>
<p class="sub-text">Please remember that your team's spot in the tournament is NOT secured until your Registration Form and full Team Entry Fee are received.</p>
<p class="sub-text"><strong>Please do NOT send any other documents in advance of the tournament. ONLY send in your Team Registration Form and Entry Fee!!!</strong></p>
<p class="sub-text"><strong>Roster and Release of Liability:</strong></p>
<p class="sub-text">The final roster must be submitted at Check-in. No additions, substitutions or deletions may be made to your roster once it has been submitted. Final roster must be  completed at least 1 hour before the first game.</p>
<p class="sub-text"><a href="docs/waiver.pdf" target="_blank">Release of Liability</a> forms must be submitted at check-in, NO LATER than 2 hours prior to the team's first game. <a href="docs/waiver.pdf" target="_blank">Release of Liability</a> forms must have an original signature.</p>
<p class="sub-text"><em>Players under the age of 18 need to have a parent or legal guardian sign the Release of Liability for them.</em></p>
<p class="sub-text">All players must be on a Roster Form AND turn in an <em>originally</em> signed Release of Liability Form, otherwise they will not be allowed to participate in the Santa Cruz Beach Soccer Championships.</p>
<p class="welcome-text underline">Cancellation Policy:</p>
<p class="sub-text">If a team wishes to cancel, they  must submit their cancellation via U.S. Mail or via e-mail no later than the  registration deadline of May 20, 2012. If your cancellation is received by the  deadline, you will be assessed a $50.00 transaction fee, and the remaining fees  will be refunded. Teams canceling after May 20, 2012 will forfeit their entire  Team Entry fee.</p>
<p class="welcome-text underline">Third Party Websites:</p>
<p class="sub-text">The Santa Cruz Beach Soccer Championships website contains links to other websites. We are not responsible for the information on these websites.</p>
<p class="sub-text"><strong>Contact Information:</strong></p>
<p class="sub-text">To contact the Santa Cruz Beach Soccer Championships:</p>
<p class="sub-text">Call 415-342-5851, or send an e-mail to: <a href="mailto:info@beachsoccerchampionships.com">info@beachsoccerchampionships.com</a></p>
<p class="sub-text">For weather info please visit: <a href="http://www.weather.com" target="_blank">Weather.com</a></p>
<p class="welcome-text underline">Beach Rules:</p>
<p class="sub-text"><em>NO</em> Alcohol, Smoking, Glass or Dogs on any of the Santa Cruz Beach Soccer Championships Tournament Beaches at <em>any</em> time during the tournament.</p>
<p class="sub-text"><em><strong>DO NOT KICK THE BALL AGAINST THE SEAWALL!!!</strong></em></p>
<p class="sub-text"><strong>WE ENCOURAGE THE USE OF PUBLIC TRANSPORTATION TO AND FROM THE EVENT.</strong></p>
<p class="sub-text">Traffic is not fun to try to maneuver through. Parking tends to be of limited availability. And most importantly, we feel it's important to do our part to preserve the earth.</p>
<p class="sub-text">The Boardwalk does not open till 8:30am please instruct everyone to walk around or wait till 8:30am to enter the Santa Cruz Boardwalk.</p>
<p>&nbsp;</p>

