<div class="page-header">
	<h2>Referees</h2>
</div>
<p class="sub-text">We'd  like to thank you for your interest in becoming a referee at the Santa Cruz  Beach Soccer Championships. You are a vital part of the tournament, and we look  forward to working with you.</p>
<p class="sub-text">In  order to referee a beach soccer game, you need to be aware of a few key facts:</p>
<ol>
  <li class="sub-text-1">Games are 5v5 (4 per  team, plus a goalkeeper)</li>
  <li class="sub-text-1">Fields are 25x35  (youth) or 30x40 (adult) yards– much smaller than a regular soccer field</li>
  <li class="sub-text-1">Games consist of three  11-minute periods, with 2 minute breaks between periods</li>
  <li class="sub-text-1">There will be one  referee per field for all games, with the exception of men&rsquo;s open division (two  referees)</li>
  <li class="sub-text-1">There are no linesmen</li>
  <li class="sub-text-1">Beach soccer  experience is recommended</li>
  <li class="sub-text-1">Please refer to <a href="http://www.fifa.com/mm/document/footballdevelopment/refereeing/81/42/36/lawsofthegame_2012_e.pdf" target="_blank">FIFA's Laws of the game</a> (PDF)</li>
</ol>
<p class="sub-text">To thank you for your assistance, we  offer the following benefits to our referees:</p>
<ol>
  <li class="sub-text-1">Free training on the  rules of the game (Friday evening at 6:30pm-8:00pm)</li>
  <li class="sub-text-1">$15 per game (paid  after your last game)</li>
  <li class="sub-text-1">A shaded Referees' tent with lunch </li>
  <li class="sub-text-1">$15.00 for gas if you  are traveling over 65 miles; $20 for over 100 miles (fuel is per vehicle not  per person, carpools are encouraged)</li>
</ol>
<p class="sub-text">If you are interested, please call  us at 415-342-5851 or email us at <a href="mailto:info@BeachSoccerChampionships.com">info@BeachSoccerChampionships.com</a>.</p>
<p class="sub-text">Please  provide us with your name, experience, and a copy of your drivers license.</p>
<p>&nbsp;</p>


<div class="page-header">
	<h2>Volunteers</h2>
</div>

<p class="sub-text">We sincerely appreciate your interest in volunteering for  the Santa Cruz Beach Soccer Championships. Your time and dedication are what make this tournament a success. We couldn’t do it without you!</p>
<p class="sub-text">We are in need of the following volunteers:</p>
<ol>
  <li class="sub-text-1">Setup/Breakdown Crew:
    <ul>
      <li class="sub-text-1">Friday evening, Saturday morning, and Sunday evening shifts</li>
      <li class="sub-text-1">Setup and breakdown of fields, tents, tables, chairs and other equipment</li>
      <li class="sub-text-1">Three to four hour shifts</li>
    </ul>
  </li>
  <li class="sub-text-1">Cleanup Crew:
    <ul>
      <li class="sub-text-1">Help keep the beach clean during and after the event</li>
      <li class="sub-text-1">Three to four hour shifts</li>
    </ul>
  </li>
  <li class="sub-text-1">Administrative Assistants:
    <ul>
      <li class="sub-text-1">Work the registration table</li>
      <li class="sub-text-1">Enter game scores</li>
      <li class="sub-text-1">Assist director, coordinators, sponsors, and fellow volunteers</li>
      <li class="sub-text-1">Three to four hour shifts</li>
    </ul>
  </li>
  <li class="sub-text-1">Field Marshalls:
    <ul>
      <li class="sub-text-1">During game play, supervise two beach soccer fields.</li>
      <li class="sub-text-1">Report scores to the Headquarters tent after each game.</li>
      <li class="sub-text-1">Three to four hour shifts</li>
    </ul>
  </li>
  <li class="sub-text-1">Raffle Sales:
    <ul>
      <li class="sub-text-1">Work the raffle table</li>
      <li class="sub-text-1">Sell tickets on the beach</li>
      </ul>
  </li>
  <li class="sub-text-1"><a href="/emt">EMT Position</a></li>
  </ol>
<p class="sub-text">To show our gratitude, we offer our volunteers the following:</p>
<ol>
  <li class="sub-text-1">Free tournament T-Shirt</li>
  <li class="sub-text-1">Free breakfasts, lunches, and drinks each day of the       tournament</li>
</ol>
<p class="sub-text ita">If  you are interested, please call us at 415-342-5851 or email us at <a href="mailto:info@BeachSoccerChampionships.com">info@BeachSoccerChampionships.com</a>.</p>
<p>&nbsp;</p>
